<h1>Add a player (leave empty when done)</h1>
<%= form_for :player, url: game_players_path do | f | %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
